@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#root {
    position: relative;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    height:100vh;
    width:100vw;
}


.navbar{
    height: 5rem;
    display: flex;
    flex-direction: row;
    width: 99%;
    border-radius: 10rem;
    border-bottom-color: black;
    align-items: center;
    justify-content: space-between;


}

.navbar-logo{
    height: 60px;
    width: 50px;
    object-fit: cover;
}

.navbar-link{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.navbar-link:hover{
    color: blue;
}

.heading{
    text-decoration: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(151, 151, 151, 0);
    padding: 50px;
    z-index: 1000;
    border-radius: 10px;
    border-color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.page-controller{
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-between;
    position: absolute;
    z-index: 20;
    top: 85%;
}